doctype html
html(lang="en")
	include ../interface/head
	body
		include ../interface/header
		include main
		include promo
		include advantages
		include catalog
		include our-agents
		include calltoaction-block
		include testimonials
		include partners
		include ../interface/footer
		include ../interface/scripts