- var Categories = ['Art Direction', 'Digital Photography', 'Information Architecture', 'Interior Design', 'Motion Graphics', 'Photoshop Tools', 'Web Design'];
- var Archives = ['May 2014', 'March 2013', 'February 2013', 'January 2013', 'December 2012', 'May 2012'];
- var RecentPostsTitle = ['Aliquam erat volutpat', 'Mauris posuere';
section.post-content
	.container
		.post-text
			.post-text__title
				h1 Point of Architecture
			p.post-text__paragraph=`Quisque diam lorem interdum vitaapibus ac scelerisque vitae pede. Donec eget tellus non erat lacinia fertum. Donec in velit vel ipsum auctovinar. Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura. Lorem ipsum dolor sitamet, consetetur sadipscing elitr.`
			img.post-text__photo(src=`img/blog-post-1/post-photo-1.jpg` alt=`Blog post photo №1`)
			p.post-text__paragraph=`Vitapibus ac scelerisque vitae pede. Donec eget tellus non erat lacinia fertum. Donec in velit vel ipsum auctovinar. Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura. Lorem sitamet, consetetur sadipscing elitr.`
			p.post-text__paragraph=`Quisque diam lorem interdum vitaapibus ac scelerisque vitae pede. Donec eget tellus non erat lacinia fertum. Donec in velit vel ipsum auctovinar. Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura. Lorem ipsum dolor sitamet, consetetur sadipscing elitr.`
			.post-text__subtitle
				h2 Architect Can Advise To Plant Vines
			p.post-text__paragraph=`Vitapibus ac scelerisque vitae pede. Donec eget tellus non erat lacinia fertum. Donec in velit vel ipsum auctovinar. Proin umcorper urna et felisstibulum iaculis lacinia est. Proin dictum elem entum velit fusce euismod. Aenean commodo ligula eget dolor. Aenean massa. Lorem ipsum dolor sit amet, consec tetuer adipis elit, aliquam eget nibh etlibura. Lorem sitamet, consetetur sadipscing elitr.`
			p.post-text__paragraph=`Suspendisse sapien lectus, tristique a maximus eget, sagittis sit amet erat. Morbi scelerisque sem risus, nec dictum leo auctor et. Etiam volutpat eros dui, non rutrum justo finibus nec. Nulla facilisi. Phasellus sit amet dui felis. Quisque lorem dolor, molestie id felis eu, rutrum imperdiet ante. Aliquam eu turpis eget magna suscipit pretium. Interdum et malesuada fames ac ante ipsum primis in faucibus. Curabitur vitae diam eu sem luctus malesuada. Nullam volutpat augue a pulvinar viverra. Praesent convallis dolor quis lectus sagittis, vel venenatis sem vulputate.` 