doctype html
html(lang="en")
	include head.pug
	body
		include header.pug
		.contacts_main-title
			h1 Our <span>Contacts</span>
		include contacts-bread-crumbs.pug
		include contats-map.pug
		section.contacts-information
			.container
				include contacts-info.pug
				include contacts-form.pug
		include footer.pug
		include scripts.pug
