.contacts-info
	.contacts-info__title
		h2 Contact Info
	.contacts-info__text
		.contacts-info__descr
			p Etiam commodo consequat egestas. Morbi at ligula nulla. Mauris bibendum mi vitae condimentum mollis. Sed sollicitudin enim vehicula, varius sapien id, consectetur posuere sem commodo.
		.contacts-info__adress Real Home INC. ST STEPHEN'S HOUSE, COLSTON AVE, BRISTOL, BRISTOL BS1 4ST, UK
		.contacts-info__phone Telephone:
			span +1 800 603 6035
		.contacts-info__fax FAX:
			span +1 800 889 9898
		.contacts-info__email E-mail:
			span mail@demolink.org