.contacts-form
	.contacts-form__title
		h2 Leave a Comment
	form.contact-form(method="")
		input.contacts-form__name(type="name" nmae="name" placeholder="Your name")
		input.contacts-form__email(type="email" name="email" placeholder="Your email")
		textarea.contacts-form__comment(rows="10" cols="65" name="text")
		button.contacts-form__send-btn.btn(type="submit" name="send") Send
		button.contacts-form__clear-btn.btn-o(type="reset" name="clear") Clear