- var menu = ['Home', 'About Us', 'Property', 'Our Blog', 'Contacts'];
- var contact = ['', 'Facebook', 'Pinterest', 'Instagram', 'Google Plus'];
header.header
	.container
		.header__logo
			img(alt="RealHome" src="img/header/logo.png")
		nav.header__menu
			ul
				- for (var i = 0; i < 5; i++)
					li=`${menu[i]}`
		.header__contacts
			- for (var i = 1; i <= 4; i++)
				.contacts__item
					img(src=`img/header/contact-icon-${i}.svg` alt=`${contact[i]}`)


