doctype html
html(lang="en")
	include head.pug
	body
		include header.pug
		include main.pug
		include promo.pug
		include advantages.pug
		include catalog.pug
		include our-agents.pug
		include calltoaction-block.pug
		include testimonials.pug
		include partners.pug
		include footer.pug
		include scripts.pug