- var sliderTitle = ['120 Anastasia Avenue, Coral Gables', '130 Milana Avenue, Green Street', '780 Marina Avenue, Green Street', '137 Lada Avenue, Yelloy Street'];
- var sliderPrice = ['$325,000', '$778,900', '$625,000', '$579,000'];
main.main
	.main__slider
		- for(var i=0; i < 4; i++)
			div.main__slider-item
				h1.main__slider-item__title=`${sliderTitle[i]}`
				span.main__slider-item__price=`${sliderPrice[i]}`
				a(href="#").btn-o.main__slider-item__btn More info
